# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

develop-eggs/
eggs/
.eggs/
*.egg-info/
*.egg
MANIFEST

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.mypy_cache/
.dmypy.json
dmypy.json

.idea/
*.fastq
*.fasta
.DS_Store
*.fq
README.md.bak
pylint_output.txt
refdir/
*.csv
*coverage*
test_data/
.vscode/